body {
  color: lightblue;

  /* The image used */
  background-image: url("./../images/stone-wall.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;

  /* google font */
  font-family: 'Creepster', cursive;
  font-size: x-large;

  /* Full height */
  height: 100%; 
}
.container {
  padding: 10px;
}
