body {
  color: tan;

  /* The image used */
  background-image: url("./../images/stone-wall.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: round;
  background-size: cover;

  /* google font */
  font-family: 'Creepster', cursive;
  font-size: x-large;

  /* Full height */
  height: 100%; 
}
.container {
  max-width: 560px;
  padding: 10px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
